*.iml
.gradle

# Xcode user-specific files
xcuserdata/
*.xcuserstate
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/libopenmpt/build/intermediates/
/libopenmpt/build/outputs/logs/
/libopenmpt/build/
/.idea/
/shared/build/
/.kotlin/
/shared/src/desktopMain/cpp/build/
/libopenmpt/src/main/cpp/macos/build/